:root {
	--bg_color1: #0a0a0a59;
	--bg_color2: #fafefe;
	--bg_color3: #ed802e;
	--txt_color: #f42d0f;
	--txt_heading_color: #6220e6;
	user-select: none;
}
body {
	background: var(--bg_color1);
}
.calc {
    margin:auto;
	background: var(--bg_color2);
	width: 302px;
	padding: 30px;
	border-radius: 30px;
	font-family: monospace;
	box-shadow: 0 0 3px 1px;
	overflow: hidden;

	.row button {
		--w: 50px;
		width: var(--w);
		height: var(--w);
		background: #4e0bf8a8;
		color: var(--txt_color);
		font-weight: 600;
		font-size: 25px;
		margin: 10px;
		border-radius: 15px;
		cursor: pointer;
	}

	.row.cc button,
	.row .cc {
		color: var(--bg_color3);
	}

	.row .equalbtn {
		background: var(--bg_color3);
		color: var(--txt_heading_color);
		width: 42%;
	}

	.total {
		font-size: 50px;
		height: 50px;
		text-align: right;
		color: var(--txt_heading_color);
		width: 80%;
		overflow: hidden;
		transform: translateX(80px);
	}

	.current {
		font-size: 25px;
		height: 25px;
		text-align: right;
		color: var(--txt_color);


	}

	.row.ca {
		padding: 0 10px;
	}

	.img {
		position: absolute;
		width: 100px;
		transform: translateX(-30px) translateY(-30px);
	}
}