:root {
	--color1: #fe5f01;
	--color2: #51c5ec;
	--color3: #b5df59;
	--color4: #fe5f01;
	text-transform: capitalize;
	color:#333;
	--box-shadow:0 0 10px 2px rgba(128, 128, 128, 0.467);
	font-family: monospace;
}

body {
	margin: 0;
	padding: 0;
}
.sec1{
    .e1{
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		text-align: center;
		align-items: flex-end;
	}
	.lo{
		margin: 0px 80px;
	}
	.qw2{
		display: flex;
		justify-content: space-between;
		font-size: 11px;
	}
	.mn2 button {
		border: inherit;
		background-color: inherit;
		
		font-size: 9px;
	}
	.number {
		color: #0ff;
		font-size: 15px;
	}
	.io1{
		display: flex;
		
	}
	.io1 :nth-child(1){
		margin-left:20px ;
	}
}

.sec1 hr{
	margin: 0;
	padding: 0;
	border-color: #000;
}
.sec2 {
	background: url(../images/bg01.jpg) ;
	text-transform: capitalize;
	.kl1 {
		display: block;
		font-size: 30px;
		text-align: center;
		align-items: center;
		background-color: #0000009d;
		color: #fff;
		font-family: monospace;
		padding: 110px 0
	}
	.p1 {
		margin: 0;
		transform: skewY(6deg);
	}
	.kl2 {
		font-size: 20px;
		margin: 30px 0
	}
	.kl3 {
		font-size: 60px
	}
}
.sec2 button {
	border: none;
	background: #ffb901;
	padding: 10px 30px;
	color: #f7f7f7;
	font-size: 18px;
	text-transform: capitalize;
	transform: skewY(-6deg);
	font-weight: 600;
}
.sec3 {
	display: flex;
	padding: 0 200px;
	margin-top: -100px;
	.cc{
		padding: 50px;
		color: #fff;
		text-transform: capitalize;
	}
	.cc:nth-child(1){
		background: var(--color1);
		font-size:30px ;
	}
	.cc:nth-child(2){
		background: var(--color2);
		font-size:30px ;
	}
	.cc:nth-child(3){
		background: var(--color3);
		font-size:30px ;
	}
	.cc1{
		font-size: 65px;
		margin-bottom:-18px;
		padding-bottom:0 ;
	}
}

.sec3 button{
 background-color: transparent;
 border: transparent;
}
.sec3 p{
	font-size: 18px;
}
.sec4{
	padding: 14px 200px;
    .mp3{
		margin: 0px 30px;
	}
	.text1{
		font-size: 30px;
		text-transform:capitalize ;
		display: flex;
	}
	.fa-file-invoice-dollar {
		color: var(--color2);
	}
	.fa-seedling{
		color:rgba(250, 96, 40, 0.907); 
	}
	.fa-hand-holding-usd{
		color:rgba(250, 96, 40, 0.907);
	}
	.mp1{
		font-size: 30px;
		padding: 47px 50px;
		}
	.mp2{
			font-size: 30px;
			padding: 47px 100px;
		}
		.mp1 :nth-child(1){
			padding: 10px 0px;
		}
		.mp2 :nth-child(1){
			padding-bottom: 10px;
		}
}
.sec4 .text1 p{
	font-size: 15px;
	

} 
.sec4  .text1 button{
	border-color: red;
	color: red;
	background-color:#fff;
	padding: 10px 30px;
	text-transform: capitalize;
	font-size: 15px;
 }
#ik1{
	color:var(--color1);
}
#ik2{
 color: var(--color3);	
}

.sec4 .cc:hover{
	animation: move1 3s infinite linear;
}
.sec5 {
	background-image: url(../images/bg_img01.jpg);
	font-family: monospace;
	text-transform:capitalize ;
	.dp2{
		padding: 80px 0;
		text-align: center;
		color:#fff ;
		background-color: #00000055;
	}
	.dp3{
		font-size: 30px;
	}
}

.sec5 p{
	font-size: 15px;
}
.sec5 button{
	background-color: var(--color1);
	padding: 10px 30px;
	color: #fff;
	font-size: 12px;
	border: transparent;
}
.sec6{
	.t1{
	
		text-align: center;
	}
	.text2{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 200px;
		text-align: center;
		 
	}
	.text3{
		display: flex;
		justify-content: space-between;
		padding: 10px 200px;
		text-align: center;
	}
	.cc{
		padding: 0px 100px;
		font-size: 30px;
	}
}

.sec6 .t1 h2{
	font-size: 33px;
}
.sec6 .t1 p{
	font-size: 20px;
}
.sec6 h3{
	text-align:center ;
}
.sec6 .text2 p{
	text-align: center;
}

#lo1{
   color: var(--color2);
}

#lo2{
   color: var(--color1);
}
#lo3{
    color: var(--color3);
}
#lo4{
    color: var(--color3);
}
#lo5{
    color: red;
}
#lo6{
	color: var(--color2);
}
.sec6 h3{
	font-size: 30px;
}
.sec6 .cc:hover{
	animation: move1 3s infinite linear;
}
.sec7 {
	background: url(../images/contact-us-banner.jpg);
	.b2{
		text-align: center;
		padding: 90px 0px;
		background-color: #0000004d;
		color: #fff;
	}
	.fa_play {
		--w:100px;
		width: var(--w);
		height: var(--w);
		background: var(--color2);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		outline: 20px solid #51c5ec80;
		margin: auto;
		transition: all .6s;
		cursor: pointer;
	}
}


.sec7 .fa_play:hover {
	animation: fa_play 1s infinite;
}
#fa-play{
	color: #fff;
	font-size: 24px;
}

@keyframes move1 {
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(90deg);
	}
	50%{
		transform: rotate(180deg);
	}
	75%{
		transform: rotate(90deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
@keyframes fa_play {
	0% {
		outline-width: 0px;
		transition: all .6s;
	}
	25% {
		outline-width: 10px;
	}
	50% {
		outline-width: 30px;
		transition: all .6s;
	}
	75% {
		outline-width: 20px;
		transition: all .6s;
	}
	100% {
		outline-width: 0px;
		transition: all .6s;
	}
}
.sec7 h3{
	font-size: 40px;
}
.sec7 p{
	margin: -20px 0px;
}
.sec8{
	font-family: monospace;
	text-transform: capitalize;
	.text1 {
		padding: 10px 50px;
	}
	.img1 {
		background: url(../images/office.jfif);	
	 }
	 .img2 {
		background-image: url(../images/office\ man1.jfif);
	}
	.img3 {
		background-image: url(../images/office\ man2.jfif);
	}
	.img4 {
		background: url(../images/office2.jfif);
	 }
	 .cc {
		background-size: cover;
		width: 100%;
		height: 200px;
		margin: 10px;
	}
	.img {
		display: flex;
		padding: 0 150px 50px;
	}
}
.sec9 .img1{
	background: url(../images/image003.jpg);
	padding: 100px 0px;
	background-size: cover;
	text-align: center;
	color: #fff;
	text-transform: capitalize;
	font-family: 'Courier New', Courier, monospace;
	padding-bottom: 300px;
}
.sec10{
	padding: 0px 150px;
	margin-top: -200px;
	.price1{
		display: flex;
		justify-content: space-between;
	}
	.cc{
		padding: 10px 0px;
		font-size: 30px;
	}
	.fa-dollar-sign{
		color: var(--color1);
	}
	.fa-file-invoice-dollar{
		color: var(--color3);
	}
	.fa-hand-holding-usd{
		color: var(--color2);
	}
	.pr {
		background-color: #fff;
		text-align:center;
		box-shadow: var(--box-shadow);
		padding: 30px;
		margin: 5px 12px;
		height: 350px;
	}
	.p1 {
		padding: 100px 20px;
		transform: translateY(-70px);
	}
	.c1{
		color: var(--color1);
		border-color: var(--color1);
		background-color: transparent;
	}
	.c2{
		color: var(--color3);
		border-color: var(--color3);
		background-color: transparent;
	}
	.c3{
		color: var(--color2);
		border-color: var(--color2);
		background-color: transparent;
	}
	.cc{
		filter:drop-shadow(10px 1px 10px);
	}
}
.sec10 button {
	text-transform: capitalize;
	font-size: 16px;
	border: none;
	border: 1px solid;
	padding: 10px 30px;
}
#fa-hand-holding-usd{
	color: var(--color2);
}
.sec11{
	text-align: center;
	font-family: monospace;
	text-transform: capitalize;
	.img1{
		background: url(../images/person1.jfif);	
		box-shadow: var(--box-shadow);
	}
	.img2{
		background: url(../images/person2.jfif);
		box-shadow: var(--box-shadow);
	}
	.img {
		--w:150px;
		width: var(--w);
		height: var(--w);	
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		margin: auto;
	}
	.investor{
		display: flex;
		padding: 10px 230px;
	}
	.investor1{
		padding: 0px 100px;
	}
	.investor2{
		padding: 0px 100px;
	}
}
.sec11 h6{
	margin-top: -15px;
	font-size: 15px;
}
.sec12 .cc{
	background-color: #343333ce;
	padding: 50px 100px;
}
.sec13{
	display: flex;
	padding: 0px 100px;
	   .form2{
		    padding-left: 50px;
		    }
		.textbar{
			margin-top: 10px;
			}
	    .submit{
			background-color: transparent;
			}
		.fa-facebook-f{
				color: blue;
				padding: 5px 9px;
			}
		.fa-google{
				color: red;
				padding: 5px 9px;
			}
	   .fa-linkedin-in{
				color:lightblue ;
				padding: 5px 9px;
			}	
		.fa-twitter{
				color: var(--color2);
				padding: 5px 9px;
			}
		.input1{
				display: flex;	
		   }
		   .submit{
			padding: 5px 15px;
			background-color:#fff;
			border-color: transparent;
		}
		.form2{
			box-shadow: var(--box-shadow);
			margin: 10px 20px;
			padding: 10px 30px;
		}
		.form3{
			box-shadow: var(--box-shadow);
			margin: 10px 20px;
			padding: 10px 30px;
		}
}

.sec13 .form3 button{
	background-color: #fff;
 margin: 10px 0px;
}
.sec14{
	height: 50px;
	.cc1{

		height: 25px;
		padding-left: 300px;
	}
	.mn2{	
		display: flex;	
	}
	.up{
		margin-left:300px ;
	}
	.cc{
		height: 25px;
	}
}

.sec14 hr{
	margin: 0;
}
.sec14 .mn2 button{
	padding: 0px 15px;
	background-color: transparent;
	border-color: transparent;
}
 
.sec13 input{
	padding: 5px 10px;
	margin:0px 5px ;
}

 .sec13 .form2 h4{
	font-size: 15px;
	font-weight: 900;
 }
 .sec13 .form2 p{
	font-weight: 500;
 }

.sec10 .cc:hover{
	animation: move1 3s infinite linear;
}
.sec14 .fa-angle-up:hover{
	animation: move1 3s infinite linear;
    color: #0ff;
}



@media (max-width:1080px) {
	.sec1{
		font-size: 15px;
		margin: 0;
		.lo{
			
			margin: auto;
		}
		.e1{
			margin-top: 15px;
			flex-direction: column;
			text-align: center;
		}
		.mn2 button{
			font-size:15px;
		}
		.number{
			font-size: 18px;
		}
	} 
	 .sec3 {
		flex-direction: column;
		margin: 0;
		padding: 0;
	 }
	 .sec4{
		padding: 0;
		transform: translateX(0deg);
		.text1{
			flex-direction: column;
			padding: 50px;
		 }
		 .ct1{
			flex-direction: column;
			padding: 0%;
		 }
		 .cc:nth-child(1){
			padding: 0%;
			
		 }
		 .cc:nth-child(2){
			padding: 0%;
	 }
	 .text1 :nth-child(1){
		margin: 0;
		padding:0%;
	}
}
.sec6 {
	flex-direction: column;
	.text2{
		flex-direction: column;
		padding: 0;
	}
	.text3{
		flex-direction: column;
		padding: 0;
	}
}
.sec7{
	.b2{
		font-size:25px ;
	}
}
.sec7 h3{
	font-size: 20px;
}
.sec7 p{
	font-size: 10px;
}
#lo7{
	font-size: 50px;
}
.sec8 .img{
	flex-direction: column;
	padding: 10px 30px;

}
.sec10{
	padding: 0;
	margin: 0;
	.price1{
		flex-direction: column;
	}
	.price2{
		padding: 0;
		
		margin: 10px 0px;
	}
	.price3{
		padding: 0;
			
		margin	: 10px 0px;
	}
	.price4{
		padding: 0;
		margin	: 10px 0px;
	}
}


.sec11 .investor{
	padding: 0%;
	margin: 0%;
	flex-direction: column;
	.investor1{
		padding: 15px 30px;
		margin-bottom:10px ;
		
	}
	.investor2{
		padding: 15px 30px;
			
		margin-bottom:10px ;
	}
	
}
.sec11 h6{
	margin-top: 0px;
	
}

.sec13{
	flex-direction: column;
	padding: 0;
	.form2{
		margin: 10px 30px;
		padding: 10px 30px;
	}
	.form3{
		margin: 10px 20px;
		padding: 10px 30px;
	}
}
.sec14{
	.cc1{
		padding: 0;
		}
		.mn2{
			flex-direction: column;
		}
		.up{
			margin: 10px 30px;
		}
}


.sec15{
   margin: 132px 0px;
	font-size: 20px;
 }
.sec15 hr{
	margin: 0%;
	padding: 0;
	background-color: #000;
}
.sec15 p{
	text-align: center;
	margin: 0%;
	
	background-color: red;
		border: radius 100px;
}
}


